html, body 
{
  margin: 0; padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-user-select: none;
  overscroll-behavior: contain;
  -moz-user-select: none;   
  -ms-user-select: none;   
  user-select: none;
  background-color: #011529;
  cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

canvas 
{
  display: block;
  position: absolute;
}

.bg{
  display: block;
  background-color: #FFFFFF;
  width: 100vw;
  height: 177vw;
  background-image: url(../assets/page1/BG.png);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.left{
  display: block;
  position: absolute;
  top: 70vw;
  left: 10%;
  z-index: 2;
  transform: translate(-50%,0);
  width: 15vw;
  height: 15vw;
  background-image: url(../assets/page1/left.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.right{
  display: block;
  position: absolute;
  top: 70vw;
  left: 90%;
  z-index: 2;
  transform: translate(-50%,0);
  width: 15vw;
  height: 15vw;
  background-image: url(../assets/page1/right.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ok{
  display: block;
  position: absolute;
  top: 154vw;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,0);
  width: 40vw;
  height: 11vw;
  
  background-image: url(../assets/page1/ok.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  
}