* {
    box-sizing: border-box;
    font-family: 'GenJyuuGothicX-P', 'Noto Sans TC', "Arial";
    margin: 0;
    padding: 0;
}

html, body 
{
  background-color: #FFFFFF;
  overflow-x: hidden;
}

button
{
  background-color: transparent;
  border: none;
}

.intro {
    display: block;
    background-color: #FFFFFF;
    width: 100vw;
    height: 177vw;
    background-image: url(../assets/page0/BG-1.png);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.introbut{
    display: block;
    position: absolute;
    top: 144vw;
    left: 50%;
    transform: translate(-50%,0);
    width: 55vw;
    height: 20vw;
    background-image: url(../assets/page0/but1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.introduce {
    display: none;
    background-color: #FFFFFF;
    width: 100vw;
    height: 172vw;
    background-image: url(../assets/page0/BG-2.png);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.introbut2{
    display: block;
    position: absolute;
    top: 115vw;
    left: 50%;
    transform: translate(-50%,0);
    width: 55vw;
    height: 20vw;
    background-image: url(../assets/page0/but2.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (orientation: landscape){
    .intro{
        height: 100vh;
        background-image: url(../assets/page0/turn.png);
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .introbut{
        display: none;
    }
    .introduce {
        height: 100vh;
        background-image: url(../assets/page0/turn.png);
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .introbut2{
        display: none;
    }
}