html, body 
{
  margin: 0; padding: 0;
  overflow-x: hidden;
  -webkit-user-select: none;
  overscroll-behavior: contain;
  -moz-user-select: none;   
  -ms-user-select: none;   
  user-select: none;
  background-color: #011529;
  cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

canvas 
{
  z-index: 3;
  display: block;
  position: absolute;
  top: 0vw;
  left: 0vw;
}

.BG {
  position: absolute;
  width: 100vw;
}
.chest{
    z-index: 1;
    position: absolute;
    background-color: #81C0C0;
    top: 80vh;
    left: 50%; 
    transform: translate(-50%, 0%);
    width: 100vw; 
    height: 100%;
}
.frame{
    top: 0;
    z-index: 4;
    display: block;
    position: absolute;
    width: 100vw;
}

.black {
    z-index: 5;
    position: absolute;
    bottom: 0%; 
    left: 50%; 
    transform: translate(-50%, 0%);
    width: 100vw; 
    height: 178%;
}

#BlackUI
{
    position: absolute;
    z-index: 4;
    bottom: 0%; 
    left: 50%; 
    transform: translate(-50%, 0%);
    width: 100%; 
    height: 16%;
    background-color: #ffb248;
}

.overbut
{
  z-index: 6;
  display: block;
  position: absolute; 
  transform: translate(-50%, -50%);
  top: 14vw; 
  left: 50%; 
  width: 20vw; 
  height: 20vw;
  background-image: url(../assets/page2/slap.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.changebut{
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 14vw;
    left: 91vw;
    width: 14vw;
    height: 14vw;
    z-index: 5;

    background-image: url(../assets/page2/changebut.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#back
{
  z-index: 6;
  display: block;
  position: absolute; 
  top: 14vw;
  left: 11%; 
  transform: translate(-50%, -50%);
  width: 15vw; 
  height: 15vw;
  background-image: url(../assets/page2/back.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}